<%- include('partials/header'); %>

<h1>Procurement Requirements for <%= city %></h1>
<p>Population: <%= population.toLocaleString() %></p>

<h3>Procurement Requirements</h3>

<div id="resultsContent">
    <!-- Card for the first table -->
    <div class="card table-container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="column-1">Requirement</th>
                    <th class="column-2">2024</th>
                    <th class="column-3">2025</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        SB 1383 ROWP Procurement Requirement
                        <br>
                        <small class="text-muted ms-3 fst-italic">Note: SB1383 requires .08 tons per person</small>
                    </td>
                    <td><%= requirement2024.toLocaleString() %> tons</td>
                    <td><%= requirement2025.toLocaleString() %> tons</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Button row between the tables -->
    <div class="button-row text-center">
        <a href="/" class="btn btn-secondary">Back</a>
        <button id="savePdfBtn" class="btn btn-success">Save as PDF</button>
        <a href="/find-out-more" class="btn btn-primary">Find Out More</a>
    </div>

    <h3>Calculating Current Compliance % and Cost</h3>

    <!-- Helper Function -->
    <% function renderSelectAndInput() { %>
        <td class="column-2">
            <input type="number" step="0.01" min="0" placeholder="0.00" />
        </td>             
        <td class="column-3">
            <select>
                <option value="cubic_yards">cubic tons</option>
                <option value="tons">tons</option>
                <option value="DGE">DGE</option>
                <option value="kWh">kWh</option>
                <option value="therms">therms</option>
            </select>
        </td>
        <td class="column-4">
            <input type="number" step="0.01" min="0" placeholder="0.00" class="currencyInput" />
        </td>
    <% } %>

    <!-- Card for the second table -->
    <div class="card table-container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="column-1">Current Compliance Methods</th>
                    <th class="column-2">Volume</th>
                    <th class="column-3">Units</th>
                    <th class="column-4">
                        Current Cost 
                        <small class="text-white fst-italic">(inclusive of procurement, transportation, distribution, administrative overhead)</small>
                    </th>                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Current Procurement of Compost</td>
                    <%- renderSelectAndInput() %>
                </tr>
                <tr>
                    <td>Current Procurement of Mulch</td>
                    <%- renderSelectAndInput() %>
                </tr>
                <tr>
                    <td>Current Procurement of RNG</td>
                    <%- renderSelectAndInput() %>
                </tr>
                <tr>
                    <td>Current Procurement of other (in ROWP tons)</td>
                    <%- renderSelectAndInput() %>
                </tr>
                
                <!-- New Row with Checkbox -->
                <tr>
                    <td colspan="4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="biomassElectricityCheckbox">
                            <label class="form-check-label" for="biomassElectricityCheckbox">
                                Fill remaining requirements using electricity from biomass electricity (also called Procurement Compliance Attributes, or PCAs)
                            </label>
                        </div>
                    </td>
                </tr>
                
                <tr class="calculation-row bg-dark text-white">
                    <td>Equivalent ROWP tons</td>
                    <td class="column-2"></td>
                    <td class="column-3"></td>
                    <td class="column-4">
                        <div id="equivalent-rowp-tons" class="calculation-result"></div>
                    </td>
                </tr>
                <tr class="calculation-row bg-dark text-white">
                    <td>Current Compliance</td>
                    <td class="column-2">
                        <div id="sum-column-2" class="calculation-result"></div>
                    </td>
                    <td class="column-3"></td>
                    <td class="column-4">
                        <div id="sum-column-4" class="calculation-result"></div>
                    </td>
                </tr>
                
                              
            </tbody>
        </table>

        <!-- Note and Calculate Button Row -->
        <div class="row mt-3">
            <div class="col-md-6">
                <small class="text-muted ms-3 fst-italic">Note: Based on standard factors from SB 1383. Cities can use a mix of products to comply</small>
            </div>
            <div class="col-md-6 text-end">
                <button id="calculateBtn" class="btn btn-primary">Calculate</button>
            </div>
        </div>
    </div>

    <!-- Visualization -->
    <!-- Charts Row -->
    <div class="row">
        <!-- Chart for 2024 -->
        
    </div>
</div>

<!-- JS for handling currency inputs -->
<script>
    document.querySelectorAll('.currencyInput').forEach(input => {
        input.addEventListener('blur', function() {
            let value = parseFloat(this.value).toFixed(2);
            if (!isNaN(value)) {
                this.value = '$' + value;
            }
        });

        input.addEventListener('focus', function() {
            this.value = this.value.replace('$', '');
        });
    });
</script>

<!-- Calculations -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function calculateSums() {
            let sumColumn2 = 0;
            let sumColumn4 = 0;
    
            document.querySelectorAll('.column-2 input[type="number"]').forEach(input => {
                const value = parseFloat(input.value) || 0;
                sumColumn2 += value;
            });
    
            document.querySelectorAll('.column-4 input[type="number"]').forEach(input => {
                const value = parseFloat(input.value) || 0;
                sumColumn4 += value;
            });
    
            document.getElementById('sum-column-2').innerText = sumColumn2.toFixed(2);
            document.getElementById('sum-column-4').innerText = `$${sumColumn4.toFixed(2)}`;
        }
    
        document.getElementById('calculateBtn').addEventListener('click', calculateSums);
    });
    
</script>
